.green{
    border: 1px solid #00ff48;
    box-shadow: 0 0 5px #00ff48;
}
.hamburger{
    display: none;
}
.hamburger button{
    position: absolute;
    right: 0;
    font-size: 45px;
    font-weight: bolder;
    z-index: 2;
    margin: 0px 10px;
}
@media (max-width: 767px) {
    nav{
        transition: 0.5s;
    }
    .hide{
        margin-top: -180px !important;
        transition: 0.7s;
    }
    .hamburger{
        display: block;
    }
}